input::file-selector-button {
  font-weight: bold;
  color: #455d7a;
  padding: 10px;
  border: thin solid grey;
  border-radius: 20px;
}

.MuiInputBase-root {
  border-radius: 20px;
}

.upload-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.MuiButton-root {
  border-radius: 20px !important;
  padding: 10px 20px;
  font-weight: bold;
  width: 120px;
}
